body{
    font-size: 0;
}
.first{
    height: 400px;
    width: 740px;
    background: black;
    padding: 3px;
    margin: 3px;
}
.oran1{
    height: 100px;
    width:740px;
    background: orange;
}
.oran2{
    height: 100px;
    width:740px;
    background: orange;
    clear:both;

}
.red{
    background: red;
    height: 200px;
    width:calc(100%/4);
    float:left;
}
.green{
    background: green;
    height:200px;
    width:calc(100%/4);
    float:left;
}

.blue{
    background: blue;
    height:200px;
    width:calc(100%/4);
    float:left;

}
.black{
    background: black;
    height:200px;
    width:calc(100%/4);


}